<% content_for :page_title, "Admin::Dashboard" %>

<div class="min-h-screen bg-gray-50/50 flex">
  <aside class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 z-50 inset-0 h-screen w-72 transition-transform duration-300 xl:translate-x-0">
    <div class="relative border-b border-white/20">
      <a class="flex items-center gap-4 py-6 px-8" href="/">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white"><%= current_user.role.capitalize %></h6>
      </a>
      <button class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden" type="button">
        <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </span>
      </button>
    </div>
    <div class="m-4">
      <ul class="mb-4 flex flex-col gap-1">
        <li>
          <a aria-current="page" class="active" href="#">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"></path>
                <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"></path>
              </svg>
              <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">dashboard</p>
            </button>
          </a>
        </li>
        <li>
          <a class="" href="#">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
              </svg>
              <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">profile</p>
            </button>
          </a>
        </li>
        <li>
          <a class="" href="#">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                <path fill-rule="evenodd" d="M1.5 5.625c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v12.75c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 18.375V5.625zM21 9.375A.375.375 0 0020.625 9h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zm0 3.75a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zm0 3.75a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zM10.875 18.75a.375.375 0 00.375-.375v-1.5a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5zM3.375 15h7.5a.375.375 0 00.375-.375v-1.5a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375zm0-3.75h7.5a.375.375 0 00.375-.375v-1.5A.375.375 0 0010.875 9h-7.5A.375.375 0 003 9.375v1.5c0 .207.168.375.375.375z" clip-rule="evenodd"></path>
              </svg>
              <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">tables</p>
            </button>
          </a>
        </li>
        <li>
          <a class="" href="#">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z" clip-rule="evenodd"></path>
              </svg>
              <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">notifactions</p>
            </button>
          </a>
        </li>
      </ul>
      <ul class="mb-4 flex flex-col gap-1">
        <li class="mx-3.5 mt-4 mb-2">
          <p class="block antialiased font-sans text-sm leading-normal text-white font-black uppercase opacity-75">auth pages</p>
        </li>
        <li>
          <a class="" href="#">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
              </svg>
              <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">sign in</p>
            </button>
          </a>
        </li>
        <li>
          <a class="" href="#">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
              </svg>
              <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">sign up</p>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="w-full p-4">
    <nav class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1">
      <div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
        <div class="capitalize">
          <nav aria-label="breadcrumb" class="w-max">
            <ol class="flex flex-wrap items-center w-full bg-opacity-60 rounded-md bg-transparent p-0 transition-all">
              <li class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
                <a href="#">
                  <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal opacity-50 transition-all hover:text-blue-500 hover:opacity-100">dashboard</p>
                </a>
                <span class="text-gray-500 text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
              </li>
              <li class="flex items-center text-blue-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-blue-500">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">home</p>
              </li>
            </ol>
          </nav>
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900">home</h6>
        </div>
        <div class="flex items-center">
          <div class="mr-auto md:mr-4 md:w-56">
            <div class="relative w-full min-w-[200px] h-10">
              <input class="peer w-full h-full bg-transparent text-gray-700 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 border focus:border-2 border-t-transparent focus:border-t-transparent text-sm px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-blue-500" placeholder=" ">
              <label class="flex w-full h-full select-none pointer-events-none absolute left-0 font-normal peer-placeholder-shown:text-gray-500 leading-tight peer-focus:leading-tight peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500 transition-all -top-1.5 peer-placeholder-shown:text-sm text-[11px] peer-focus:text-[11px] before:content[' '] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-blue-gray-400 peer-focus:text-blue-500 before:border-blue-gray-200 peer-focus:before:border-blue-500 after:border-blue-gray-200 peer-focus:after:border-blue-500">Type here</label>
            </div>
          </div>
          <button class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" stroke-width="3" class="h-6 w-6 text-blue-gray-500">
                <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </button>
          <a href="#">
            <button class="middle none font-sans font-bold center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 hidden items-center gap-1 px-4 xl:flex" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
              </svg>Sign In </button>
            <button class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden" type="button">
              <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                  <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
                </svg>
              </span>
            </button>
          </a>
          <button class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                <path fill-rule="evenodd" d="M11.078 2.25c-.917 0-1.699.663-1.85 1.567L9.05 4.889c-.02.12-.115.26-.297.348a7.493 7.493 0 00-.986.57c-.166.115-.334.126-.45.083L6.3 5.508a1.875 1.875 0 00-2.282.819l-.922 1.597a1.875 1.875 0 00.432 2.385l.84.692c.095.078.17.229.154.43a7.598 7.598 0 000 1.139c.015.2-.059.352-.153.43l-.841.692a1.875 1.875 0 00-.432 2.385l.922 1.597a1.875 1.875 0 002.282.818l1.019-.382c.115-.043.283-.031.45.082.312.214.641.405.985.57.182.088.277.228.297.35l.178 1.071c.151.904.933 1.567 1.85 1.567h1.844c.916 0 1.699-.663 1.85-1.567l.178-1.072c.02-.12.114-.26.297-.349.344-.165.673-.356.985-.57.167-.114.335-.125.45-.082l1.02.382a1.875 1.875 0 002.28-.819l.923-1.597a1.875 1.875 0 00-.432-2.385l-.84-.692c-.095-.078-.17-.229-.154-.43a7.614 7.614 0 000-1.139c-.016-.2.059-.352.153-.43l.84-.692c.708-.582.891-1.59.433-2.385l-.922-1.597a1.875 1.875 0 00-2.282-.818l-1.02.382c-.114.043-.282.031-.449-.083a7.49 7.49 0 00-.985-.57c-.183-.087-.277-.227-.297-.348l-.179-1.072a1.875 1.875 0 00-1.85-1.567h-1.843zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </button>
          <button aria-expanded="false" aria-haspopup="menu" id=":r2:" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </nav>
    <div class="mt-12">
      <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
          <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
              <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
              <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z" clip-rule="evenodd"></path>
              <path d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z"></path>
            </svg>
          </div>
          <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Today's Money</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">$53k</h4>
          </div>
          <div class="border-t border-blue-gray-50 p-4">
            <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
              <strong class="text-green-500">+55%</strong>&nbsp;than last week
            </p>
          </div>
        </div>
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
          <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
              <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Today's Users</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">2,300</h4>
          </div>
          <div class="border-t border-blue-gray-50 p-4">
            <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
              <strong class="text-green-500">+3%</strong>&nbsp;than last month
            </p>
          </div>
        </div>
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
          <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
              <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
            </svg>
          </div>
          <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">New Clients</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">3,462</h4>
          </div>
          <div class="border-t border-blue-gray-50 p-4">
            <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
              <strong class="text-red-500">-2%</strong>&nbsp;than yesterday
            </p>
          </div>
        </div>
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
          <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
              <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
            </svg>
          </div>
          <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Sales</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">$103,430</h4>
          </div>
          <div class="border-t border-blue-gray-50 p-4">
            <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
              <strong class="text-green-500">+5%</strong>&nbsp;than yesterday
            </p>
          </div>
        </div>
      </div>
      
      <div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-3">
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2">
          <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
            <div>
              <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">Projects</h6>
              <p class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-4 w-4 text-blue-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
                <strong>30 done</strong> this month
              </p>
            </div>
            <button aria-expanded="false" aria-haspopup="menu" id=":r5:" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
              <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currenColor" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
                </svg>
              </span>
            </button>
          </div>
          <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
            <table class="w-full min-w-[640px] table-auto">
              <thead>
                <tr>
                  <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                    <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">companies</p>
                  </th>
                  <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                    <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">budget</p>
                  </th>
                  <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                    <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">completion</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="flex items-center gap-4">
                      <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Material XD Version</p>
                    </div>
                  </td>
                  
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$14,000</p>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="w-10/12">
                      <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">60%</p>
                      <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                        <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white" style="width: 60%;"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="flex items-center gap-4">
                      <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Add Progress Track</p>
                    </div>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$3,000</p>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="w-10/12">
                      <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">10%</p>
                      <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                        <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white" style="width: 10%;"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="flex items-center gap-4">
                      <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Fix Platform Errors</p>
                    </div>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">Not set</p>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="w-10/12">
                      <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">100%</p>
                      <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                        <div class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white" style="width: 100%;"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="flex items-center gap-4">
                      <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Launch our Mobile App</p>
                    </div>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$20,500</p>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="w-10/12">
                      <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">100%</p>
                      <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                        <div class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white" style="width: 100%;"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="flex items-center gap-4">
                      <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Add the New Pricing Page</p>
                    </div>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$500</p>
                  </td>
                  <td class="py-3 px-5 border-b border-blue-gray-50">
                    <div class="w-10/12">
                      <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">25%</p>
                      <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                        <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white" style="width: 25%;"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- component -->
<!-- component -->
<div class="relative flex flex-col overflow-hidden">
  <div class="relative mx-auto">
    <div class="group relative flex cursor-pointer after:shadow-lg after:shadow-black">
      <!-- hidden slide -->
      <div class="relative -left-16 top-0 z-10 w-96 rounded-xl bg-[#3d348b] px-5 py-3 text-base font-semibold leading-7 transition-all duration-700 group-hover:-left-14">
        <div class="flex flex-col gap-4">
          <!-- item 1 -->
          <div class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.63338 2.58607C4.63338 1.87578 5.20918 1.29999 5.91946 1.29999H18.0806C18.7869 1.29999 19.3667 1.86927 19.3667 2.58352V2.59367V2.60383V2.614V2.62418V2.63437V2.64458V2.65479V2.66502V2.67526V2.68551V2.69577V2.70604V2.71633V2.72662V2.73693V2.74725V2.75758V2.76792V2.77827V2.78863V2.799V2.80939V2.81978V2.83019V2.8406V2.85103V2.86147V2.87192V2.88238V2.89285V2.90333V2.91382V2.92433V2.93484V2.94536V2.9559V2.96644V2.977V2.98757V2.99814V3.00873V3.01933V3.02994V3.04056V3.05119V3.06183V3.07247V3.08313V3.09381V3.10449V3.11518V3.12588V3.13659V3.14731V3.15804V3.16878V3.17953V3.19029V3.20106V3.21184V3.22264V3.23344V3.24425V3.25507V3.2659V3.27674V3.28759V3.29845V3.30931V3.32019V3.33108V3.34198V3.35289V3.3638V3.37473V3.38567V3.39661V3.40757V3.41853V3.4295V3.44049V3.45148V3.46248V3.47349V3.48451V3.49554V3.50658V3.51763V3.52222H19.7778C21.3917 3.52222 22.7001 4.83054 22.7001 6.44444V7.89663C22.7001 9.023 22.0527 10.0491 21.0361 10.5341L18.9681 11.5207C18.903 11.5518 18.8354 11.5719 18.7675 11.5818C17.726 13.9966 15.4297 15.7432 12.7001 16.0005V17.9667H14.5927C15.2249 17.9667 15.8402 18.1717 16.346 18.5511L17.5312 19.44C18.9236 20.4843 18.185 22.7 16.4445 22.7H7.55562C5.81513 22.7 5.07654 20.4843 6.46895 19.44L7.65413 18.5511C8.15996 18.1717 8.77519 17.9667 9.40747 17.9667H11.3001V16.0005C8.57046 15.7432 6.27425 13.9965 5.23266 11.5818C5.16475 11.5719 5.09716 11.5518 5.03197 11.5207L2.964 10.5341C1.9474 10.0491 1.30005 9.023 1.30005 7.89663V6.44444C1.30005 4.83054 2.60837 3.52222 4.22227 3.52222H4.63338V2.58607ZM17.9667 8.66687C17.9667 11.9614 15.2966 14.6321 12.0023 14.6333H12C8.70475 14.6333 6.03338 11.962 6.03338 8.66665V2.69999H17.9667V2.70604V2.71633V2.72662V2.73693V2.74725V2.75758V2.76792V2.77827V2.78863V2.799V2.80939V2.81978V2.83019V2.8406V2.85103V2.86147V2.87192V2.88238V2.89285V2.90333V2.91382V2.92433V2.93484V2.94536V2.9559V2.96644V2.977V2.98757V2.99814V3.00873V3.01933V3.02994V3.04056V3.05119V3.06183V3.07247V3.08313V3.09381V3.10449V3.11518V3.12588V3.13659V3.14731V3.15804V3.16878V3.17953V3.19029V3.20106V3.21184V3.22264V3.23344V3.24425V3.25507V3.2659V3.27674V3.28759V3.29845V3.30931V3.32019V3.33108V3.34198V3.35289V3.3638V3.37473V3.38567V3.39661V3.40757V3.41853V3.4295V3.44049V3.45148V3.46248V3.47349V3.48451V3.49554V3.50658V3.51763V3.52868V3.53975V3.55082V3.56191V3.573V3.5841V3.59521V3.60633V3.61746V3.6286V3.63975V3.6509V3.66206V3.67324V3.68442V3.69561V3.70681V3.71801V3.72923V3.74045V3.75169V3.76293V3.77418V3.78544V3.7967V3.80798V3.81926V3.83056V3.84186V3.85317V3.86448V3.87581V3.88714V3.89848V3.90983V3.92119V3.93256V3.94393V3.95531V3.9667V3.9781V3.98951V4.00092V4.01234V4.02377V4.03521V4.04666V4.05811V4.06957V4.08104V4.09252V4.104V4.11549V4.12699V4.1385V4.15002V4.16154V4.17307V4.18461V4.19615V4.2077V4.21926V4.23083V4.2424V4.25398V4.26557V4.27717V4.28877V4.30038V4.312V4.32363V4.33526V4.3469V4.35854V4.3702V4.38186V4.39353V4.4052V4.41688V4.42857V4.44026V4.45197V4.46368V4.47539V4.48711V4.49884V4.51058V4.52232V4.53407V4.54582V4.55759V4.56936V4.58113V4.59291V4.6047V4.6165V4.6283V4.6401V4.65192V4.66374V4.67556V4.6874V4.69924V4.71108V4.72293V4.73479V4.74665V4.75852V4.7704V4.78228V4.79417V4.80607V4.81797V4.82987V4.84178V4.8537V4.86563V4.87755V4.88949V4.90143V4.91338V4.92533V4.93729V4.94925V4.96122V4.9732V4.98518V4.99717V5.00916V5.02115V5.03316V5.04517V5.05718V5.0692V5.08122V5.09325V5.10529V5.11733V5.12937V5.14142V5.15348V5.16554V5.17761V5.18968V5.20176V5.21384V5.22592V5.23802V5.25011V5.26221V5.27432V5.28643V5.29855V5.31067V5.32279V5.33492V5.34706V5.3592V5.37134V5.38349V5.39565V5.40781V5.41997V5.43214V5.44431V5.45649V5.46867V5.48085V5.49304V5.50524V5.51744V5.52964V5.54185V5.55406V5.56627V5.57849V5.59072V5.60295V5.61518V5.62742V5.63966V5.6519V5.66415V5.6764V5.68866V5.70092V5.71318V5.72545V5.73772V5.75V5.76228V5.77456V5.78685V5.79914V5.81144V5.82373V5.83604V5.84834V5.86065V5.87296V5.88528V5.8976V5.90992V5.92225V5.93458V5.94691V5.95925V5.97159V5.98393V5.99628V6.00863V6.02098V6.03334V6.0457V6.05806V6.07042V6.08279V6.09516V6.10754V6.11992V6.1323V6.14468V6.15707V6.16945V6.18185V6.19424V6.20664V6.21904V6.23144V6.24385V6.25626V6.26867V6.28108V6.2935V6.30591V6.31834V6.33076V6.34319V6.35561V6.36805V6.38048V6.39292V6.40535V6.41779V6.43024V6.44268V6.45513V6.46758V6.48003V6.49248V6.50494V6.5174V6.52986V6.54232V6.55478V6.56725V6.57972V6.59219V6.60466V6.61713V6.62961V6.64208V6.65456V6.66704V6.67953V6.69201V6.7045V6.71698V6.72947V6.74196V6.75445V6.76695V6.77944V6.79194V6.80444V6.81694V6.82944V6.84194V6.85444V6.86695V6.87945V6.89196V6.90447V6.91698V6.92949V6.942V6.95451V6.96703V6.97954V6.99206V7.00458V7.01709V7.02961V7.04213V7.05465V7.06717V7.0797V7.09222V7.10474V7.11727V7.12979V7.14232V7.15485V7.16737V7.1799V7.19243V7.20496V7.21749V7.23002V7.24255V7.25508V7.26761V7.28014V7.29268V7.30521V7.31774V7.33027V7.3428V7.35534V7.36787V7.38041V7.39294V7.40547V7.41801V7.43054V7.44307V7.45561V7.46814V7.48068V7.49321V7.50574V7.51828V7.53081V7.54334V7.55587V7.56841V7.58094V7.59347V7.606V7.61853V7.63106V7.64359V7.65612V7.66865V7.68118V7.69371V7.70624V7.71876V7.73129V7.74381V7.75634V7.76886V7.78139V7.79391V7.80643V7.81895V7.83147V7.84399V7.85651V7.86903V7.88154V7.89406V7.90657V7.91909V7.9316V7.94411V7.95662V7.96913V7.98163V7.99414V8.00665V8.01915V8.03165V8.04415V8.05665V8.06915V8.08165V8.09414V8.10664V8.11913V8.13162V8.14411V8.1566V8.16908V8.18157V8.19405V8.20653V8.21901V8.23149V8.24396V8.25644V8.26891V8.28138V8.29385V8.30631V8.31878V8.33124V8.3437V8.35616V8.36862V8.38107V8.39352V8.40597V8.41842V8.43087V8.44331V8.45575V8.46819V8.48063V8.49306V8.50549V8.51792V8.53035V8.54277V8.55519V8.56761V8.58003V8.59244V8.60486V8.61726V8.62967V8.64207V8.65448V8.66687ZM19.2766 9.82233L20.4333 9.27052C20.9628 9.01788 21.3001 8.48337 21.3001 7.89663V6.44444C21.3001 5.60374 20.6185 4.92222 19.7778 4.92222H19.3667V4.92533V4.93729V4.94925V4.96122V4.9732V4.98518V4.99717V5.00916V5.02115V5.03316V5.04517V5.05718V5.0692V5.08122V5.09325V5.10529V5.11733V5.12937V5.14142V5.15348V5.16554V5.17761V5.18968V5.20176V5.21384V5.22592V5.23802V5.25011V5.26221V5.27432V5.28643V5.29855V5.31067V5.32279V5.33492V5.34706V5.3592V5.37134V5.38349V5.39565V5.40781V5.41997V5.43214V5.44431V5.45649V5.46867V5.48085V5.49304V5.50524V5.51744V5.52964V5.54185V5.55406V5.56627V5.57849V5.59072V5.60295V5.61518V5.62742V5.63966V5.6519V5.66415V5.6764V5.68866V5.70092V5.71318V5.72545V5.73772V5.75V5.76228V5.77456V5.78685V5.79914V5.81144V5.82373V5.83604V5.84834V5.86065V5.87296V5.88528V5.8976V5.90992V5.92225V5.93458V5.94691V5.95925V5.97159V5.98393V5.99628V6.00863V6.02098V6.03334V6.0457V6.05806V6.07042V6.08279V6.09516V6.10754V6.11992V6.1323V6.14468V6.15707V6.16945V6.18185V6.19424V6.20664V6.21904V6.23144V6.24385V6.25626V6.26867V6.28108V6.2935V6.30591V6.31834V6.33076V6.34319V6.35561V6.36805V6.38048V6.39292V6.40535V6.41779V6.43024V6.44268V6.45513V6.46758V6.48003V6.49248V6.50494V6.5174V6.52986V6.54232V6.55478V6.56725V6.57972V6.59219V6.60466V6.61713V6.62961V6.64208V6.65456V6.66704V6.67953V6.69201V6.7045V6.71698V6.72947V6.74196V6.75445V6.76695V6.77944V6.79194V6.80444V6.81694V6.82944V6.84194V6.85444V6.86695V6.87945V6.89196V6.90447V6.91698V6.92949V6.942V6.95451V6.96703V6.97954V6.99206V7.00458V7.01709V7.02961V7.04213V7.05465V7.06717V7.0797V7.09222V7.10474V7.11727V7.12979V7.14232V7.15485V7.16737V7.1799V7.19243V7.20496V7.21749V7.23002V7.24255V7.25508V7.26761V7.28014V7.29268V7.30521V7.31774V7.33027V7.3428V7.35534V7.36787V7.38041V7.39294V7.40547V7.41801V7.43054V7.44307V7.45561V7.46814V7.48068V7.49321V7.50574V7.51828V7.53081V7.54334V7.55587V7.56841V7.58094V7.59347V7.606V7.61853V7.63106V7.64359V7.65612V7.66865V7.68118V7.69371V7.70624V7.71876V7.73129V7.74381V7.75634V7.76886V7.78139V7.79391V7.80643V7.81895V7.83147V7.84399V7.85651V7.86903V7.88154V7.89406V7.90657V7.91909V7.9316V7.94411V7.95662V7.96913V7.98163V7.99414V8.00665V8.01915V8.03165V8.04415V8.05665V8.06915V8.08165V8.09414V8.10664V8.11913V8.13162V8.14411V8.1566V8.16908V8.18157V8.19405V8.20653V8.21901V8.23149V8.24396V8.25644V8.26891V8.28138V8.29385V8.30631V8.31878V8.33124V8.3437V8.35616V8.36862V8.38107V8.39352V8.40597V8.41842V8.43087V8.44331V8.45575V8.46819V8.48063V8.49306V8.50549V8.51792V8.53035V8.54277V8.55519V8.56761V8.58003V8.59244V8.60486V8.61726V8.62967V8.64207V8.65448V8.66687C19.3667 9.05998 19.3359 9.44589 19.2766 9.82233ZM4.63338 8.66665C4.63338 9.05984 4.66419 9.44583 4.72351 9.82235L3.56682 9.27052C3.03727 9.01788 2.70005 8.48337 2.70005 7.89663V6.44444C2.70005 5.60374 3.38157 4.92222 4.22227 4.92222H4.63338V8.66665ZM8.49413 19.6711C8.75763 19.4735 9.0781 19.3667 9.40747 19.3667H12.0001H14.5927C14.922 19.3667 15.2425 19.4735 15.506 19.6711L16.6912 20.56C17.0072 20.797 16.8396 21.3 16.4445 21.3H7.55562C7.16053 21.3 6.99289 20.797 7.30895 20.56L8.49413 19.6711Z" fill="white" />
              <path d="M11.8425 6.20125C11.9226 6.09893 12.0774 6.09893 12.1575 6.20125L12.7183 6.91782C12.7413 6.94724 12.7721 6.96963 12.8072 6.98244L13.662 7.29436C13.7841 7.3389 13.832 7.48617 13.7594 7.59395L13.2512 8.34874C13.2303 8.37973 13.2185 8.41595 13.2172 8.45329L13.1847 9.36265C13.1801 9.49249 13.0548 9.58351 12.9299 9.5478L12.055 9.29771C12.019 9.28744 11.981 9.28744 11.945 9.29771L11.0701 9.5478C10.9452 9.58351 10.8199 9.49249 10.8153 9.36265L10.7828 8.45329C10.7815 8.41595 10.7697 8.37973 10.7488 8.34874L10.2406 7.59395C10.168 7.48617 10.2159 7.3389 10.338 7.29436L11.1928 6.98244C11.2279 6.96963 11.2587 6.94724 11.2817 6.91782L11.8425 6.20125Z" fill="#DF1463" />
            </svg>
            <div class="flex items-center gap-1 rounded-full bg-green-400/45 py-0.5 pl-1 pr-2">
              <p class="-rotate-90 leading-tight text-green-500">&rarr;</p>
              <p class="text-xs leading-tight text-white">10%</p>
            </div>
            <p class="text-white opacity-0 delay-200 duration-700 ease-in-out group-hover:opacity-100">1,300 Goals</p>
          </div>
          <!-- item 2 -->
          <div class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
              <path d="M3.7644 13.3726V11.0849C3.7644 6.53663 7.45154 2.84949 11.9999 2.84949V2.84949C16.5482 2.84949 20.2353 6.53663 20.2353 11.0849V13.9856" stroke="#DF1463" stroke-width="1.69904" />
              <path d="M2.84937 17.4903V16.1566C2.84937 14.1351 4.4881 12.4964 6.50957 12.4964C7.5203 12.4964 8.33967 13.3158 8.33967 14.3265V19.3204C8.33967 20.3311 7.5203 21.1505 6.50957 21.1505C4.4881 21.1505 2.84937 19.5118 2.84937 17.4903Z" stroke="white" stroke-width="1.69904" />
              <path d="M21.1504 17.4903V16.1566C21.1504 14.1351 19.5117 12.4964 17.4902 12.4964C16.4795 12.4964 15.6601 13.3158 15.6601 14.3265V19.3204C15.6601 20.3311 16.4795 21.1505 17.4902 21.1505C19.5117 21.1505 21.1504 19.5118 21.1504 17.4903Z" stroke="white" stroke-width="1.69904" />
            </svg>
            <div class="flex items-center gap-1 rounded-full bg-green-400/45 py-0.5 pl-1 pr-2">
              <p class="-rotate-90 leading-tight text-green-500">&rarr;</p>
              <p class="text-xs leading-tight text-white">30%</p>
            </div>
            <p class="text-white opacity-0 delay-200 duration-700 ease-in-out group-hover:opacity-100">30 Records</p>
          </div>
          <p>
            <a href="https://tailwindcss.com/docs" class="text-sky-500 opacity-0 hover:text-sky-600">&rarr;</a>
          </p>
        </div>
      </div>
      <!-- main -->
      <div class="absolute -right-16 top-0 z-20 flex w-96 flex-col gap-4 self-end rounded-xl rounded-l-2xl border-none bg-[#7678ed] px-5 py-3 text-base font-semibold leading-7 transition-all duration-700 group-hover:-right-14 group-hover:w-64 group-hover:rounded-l-lg">
        <p class="text-[#fff]">Achivements unlocked</p>
        <p class="text-[#fff]">Records sold</p>
        <p>
          <a href="https://tailwindcss.com/docs" class="text-white/50">Learn more &rarr;</a>
        </p>
      </div>
      <div class="h-16 bg-[#3d348b] w-[28rem] -left-10 shadow-2xl shadow-[#3d348b] absolute bottom-0"></div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>