<% if resource.errors.any? %>
  <div
    id="error_explanation"
    data-turbo-cache="false"
    class="transition transform duration-1000 border border-gray-400 flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert"
    data-controller="notifications"
    data-notification-delay-value="1000"
    data-notification-hidden-value="true"
    data-transition-enter-from="opacity-0 translate-y-6"
    data-transition-enter-to="opacity-100 translate-y-0"
    data-transition-leave-from="opacity-100 translate-y-0"
    data-transition-leave-to="opacity-0 translate-y-6"
  >
    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Danger</span>
    <div>
      <span class="font-medium"><%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %></span>
        <ul class="mt-1.5 list-disc list-inside">
          <% resource.errors.full_messages.each_with_index do |message, index| %>
            <div class="flex flex-row items-center">
              <%= index+1 %>.<%= " " + message %>
            </div>
          <% end %>
      </ul>
    </div>
  </div>
<% end %>
