<div
  id="toast-simple"
  class="transition transform duration-1000 fixed top-5 right-5 flex items-center w-full max-w-sm p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
  role="alert"
  data-controller="notifications"
  data-notification-delay-value="2000"
  data-transition-enter-from="opacity-0 translate-x-6"
  data-transition-enter-to="opacity-100 translate-x-0"
  data-transition-leave-from="opacity-100 translate-x-0"
  data-transition-leave-to="opacity-0 translate-x-6"
>
  <svg
       class="w-5 h-5 text-<%= type == "notice" ? "blue" : "red" %>-600 dark:text-<%= type == "notice" ? "blue" : "red" %>-500 rotate-45"
       aria-hidden="true"
       xmlns="http://www.w3.org/2000/svg"
       fill="none" viewBox="0 0 18 20">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
  </svg>
  <div class="ps-4 text-sm font-normal text-<%= type == "notice" ? "blue" : "red" %>-600"><%= message %></div>
</div>
