<h1 class="text-3xl text-blue-600 font-serif">Lanfing Page</h1>
<p>Tailwind CSS is properly integrated with this page</p>

<%= link_to 'Go to Dashboard', root_path, class: 'text-blue underline' %>

<%= button_to 'Logout', destroy_user_session_path, method: :delete %>